body {
  background-image: url(https://pbs.twimg.com/media/F0b2AnpagAAB4RU?format=jpg&name=large);
  padding:100px;
}
header {
  text-align: center;

}
footer {
  text-align: center;
}
h1, h2 {
  color: white;
  text-align: center;
  font-family:sans-serif;
}


p {
  font-family: verdana;
  color: white;
  font: bold;
  font-size: 15px;
}

a {
  color:rgb(170, 155, 255);
  font-family: sans-serif;
}
figure{
  color:white;
  font: bold;
  font-size: 20px;
  font-family: sans-serif;
  text-align: center;
}

ul{
  color:white;
  padding: 10px;
  font-family: sans-serif;
}

.border {
  width: 80%;
  background-color: rgba(23, 38, 70, 0.9);
  border: 2px solid rgb(66, 89, 150);
  border-radius: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  max-width:800px;
}