body {
  --platform-offset-y: -10px;
}

.background-0 {
  background-image: url("../../public/images/setting/0.png");
  background-repeat: repeat-x;
  background-position: left bottom;
  background-size: auto 100%;
  min-height: 579px;
  background-position: 0 bottom;
  width: 100%;
  animation: scrollBackgroundLg 600s linear infinite;
  position: absolute;
  z-index: 0;
  overflow: hidden;
}

@keyframes scrollBackgroundLg {
  0% {
    background-position: 0 bottom;
  }
  100% {
    background-position: 1000% bottom;
  }
}

@keyframes scrollBackgroundMd {
  0% {
    background-position: 0 bottom;
  }
  100% {
    background-position: 10000% bottom;
  }
}

@keyframes scrollBackgroundSm {
  0% {
    background-position: 0 bottom;
  }
  100% {
    background-position: 1000% bottom;
  }
}

.background-1 {
  background-image:url("../../public/images/setting/1.png");
  background-position: bottom;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  overflow: hidden;
}

.background-2 {
  background-image: url("../../public/images/setting/2.png");
  background-size: 100% 50%;
  background-position: bottom -150px right 0px;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 3;
  overflow: hidden;
}

.details {
  background-image: url("../../public/images/house.png");
  z-index: 4;
  width: 1920px;
  height: 560px;
  position: absolute;
  bottom: 30px;
  /* left: calc(50vw - 100px); */
}

.platform {
  background-image: url("../../public/images/setting/platform.png");
  height: 64px;
  position: absolute;
  z-index: 4;
  bottom: calc(10px + var(--platform-offset-y));
  width: 100%;
}

#pet-sleep {
  background-image: url("../../public/images/animations/petsleep.gif");
  width: 63px;
  height: 40px;
  z-index: 5;
  position: absolute;
  bottom: 76px;
  left: calc(50vw + 125px);
}

#pet-sleep-ign-container {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  bottom: -17px;
  left: 4px;
}

#pet-sleep-ign {
  background-color: rgba(0, 0, 0, 0.623);
  border-radius: 10%;
  color: rgba(255, 255, 255, 0.795);
  text-align: center;
  bottom: 0px;
  padding: 1.5px 2.3px;
  font-size: 9.5pt;
  letter-spacing: 0.1px;
}
#bunny-sleep {
  background-image: url("../../public/images/animations/bunny.gif");
  width: 28px;
  height: 17px;
  z-index: 5;
  position: absolute;
  bottom: 76px;
  left: calc(48vw + 125px);
}

#bunny-sleep-ign-container {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  bottom: -17px;
  left: 4px;
}

#bunny-sleep-ign {
  background-color: rgba(0, 0, 0, 0.623);
  border-radius: 10%;
  color: rgba(255, 255, 255, 0.795);
  text-align: center;
  bottom: 0px;
  padding: 1.5px 2.3px;
  font-size: 9.5pt;
  letter-spacing: 0.1px;
}
